* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#close {
    margin-top: auto;

}

.console-container {
    display: flex;
    flex-direction: row;
    background-color: #333;
    border-radius: 10px;
    height: 69%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    margin-left: auto;
}

.register-container {
    display: flex;
    flex-direction: row;
    background-color: #333;
    border-radius: 10px;
    width: 55%;
    height: 52%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.register-container {
    text-align: center;
    padding-top: 20px
}

.register-container h1 {
    font-size: 100px;
}

.register-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    
}

.register-container input {
    padding: 10px;
    margin: 10px 0;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 40px;
}

.register-container-center {
    margin: 0 auto;
}

#register-alert {
    color: red;
    font-size: 20px;
}




.left-panel {
    display: flex;
    flex-direction: column;
    background-color: #222;
    padding: 20px;
    width: 200px;
    border-right: 2px solid #444;
}

.command-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.userName-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.command-btn:hover {
    background-color: #0056b3;
}

.right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.command-type-container {
    flex-grow: 1;
    text-align: center;
}

#command-type-title {
    margin-bottom: 20px;
    font-size: 20px;
}

.command-types {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.command-types button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.command-types button:hover {
    background-color: #218838;
}

.command-messages {
    margin-top: 20px;
    background-color: #444;
    padding: 15px;
    border-radius: 5px;
    height: 100px;
    overflow-y: auto;
}

.command-messages h3 {
    margin-bottom: 10px;
}

/* New TP to Player form */
.command-form {
    text-align: center;
    margin-top: 20px;
}

.command-form label {
    font-size: 18px;
}

.command-form input {
    padding: 10px;
    margin: 10px 0;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.command-form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.command-form button:hover {
    background-color: #0056b3;
}

.userName {
    position: absolute; /* Relative positioning for the container */
    top: 0;
    left: 0;
    width: 13%;
  }
  
#user-name {
    position: absolute; /* Absolute positioning for the span */
    top: 0;
    left: 0;
    color: #da38ff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    margin-left: 10px;
  }

.userName-form {
    text-align: center;
    margin-top: 20px;
}

.userName-form label {
    font-size: 18px;
}

.userName-form input {
    padding: 10px;
    margin: 10px 0;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.userName-form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.userName-form button:hover {
    background-color: #0056b3;
}

