.profile-photo {
    width: 100px;

    position: absolute;

    bottom: 30px;
    right: 30px;
}

#location {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;   
    font-size: 18px;
    font-family: sans-serif;
    width: 450px;
}

.destinations {
    margin-top: 20px;
}